<div className="copyright">
  <p>©2023 Lydian,INC.</p>
</div>
<div className="links">
  <ul className="links-links">
    <li><a href="#">Deja tu opinión</a></li>
    <li><a href="#">Más</a></li>
  </ul>
</div>
<div className="logo-footer">
  <img className="footer-logo" src="resources/logo.png" alt="logo-footer" />
</div>
<div className="social-links">
  <img className="facebook-icon" src="resources/facebook-icon.svg" alt="facebook-icon" />
  <img className="whatsapp-icon"src="resources/whatsapp-icon.svg" alt="whatsapp-icon" />
  <img className="instagram-icon" src="resources/instagram-icon.svg" alt="instagram-icon" />

</div>