<img src="/resources/logo.png" alt="logo" class="logo" />
<ul class="nav-bar-links">
  <li>
    <a class="index-link" href="#">INICIO</a>
  </li>
  <li>
    <a class="help-link" href="/">AYUDA</a>
  </li>
</ul>
  <div class="icon-container">
    <a href="cart">
    <span class="material-symbols-outlined">
      shopping_cart
      </span>
    </a>
      <span class="material-symbols-outlined">
        account_circle
        </span> 
        <span class="material-symbols-outlined">
          search
          </span>             
  </div>