<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div className="main-container">
    <header className="header">
      <%- include('./partials/header.ejs') %>
    </header> 
      <div className="banner">
      </div>
      <div className="main-sections-container">
        <section className="left-section">
          <div className="left-content">
            <p className="product-path">Instrumentos > Guitarras > Acústicas</p>
          </div>
          <select name="filtros">
            <option value="usados">Usados</option>
            <option value="nuevos">Nuevos</option>
            <option value="filtros" selected >Filtros</option>
          </select>
          <select name="ubicacion">
            <option value="Cordoba">Usados</option>
            <option value="Buenos Aires">Nuevos</option>
            <option value="ubicacion" selected >Ubicacion</option>
          </select>
        </section>
        <section className="products-section">
          <article className="product-content">
            <div className="product-img">
              <img className="product" src="resources/fender-acoustic.jpg" alt="product" />
            </div>
            <div className="product-details">
              <div className="product-name">
                <h3>Guitarra Acústica Fender</h3>
              </div>
              <div className="price-details">
                  <p>$ 80.000</p>
                  <p>Vendedor: Olmos-music</p>
              </div>
            </div>
          </article>
          <article className="product-content">
            <div className="product-img">
              <img className="product" src="resources/alesis-nitromesh.jpg" alt="product" />
            </div>
            <div className="product-details">
              <div className="product-name">
                <h3>Alesis Nitro Mesh kit</h3>
              </div>
              <div className="price-details">
                  <p>$ 300.999</p>
                  <p>Vendedor: Emi Castro</p>
              </div>
            </div>
          </article>
          <article className="product-content">
            <div className="product-img">
              <img className="product" src="resources/taylor-acoustic.jpg" alt="product" />
            </div>
            <div className="product-details">
              <div className="product-name">
                <h3>Guitarra Acústica Taylor</h3>
              </div>
              <div className="price-details">
                  <p>$ 120.000</p>
                  <p>Vendedor: Olmos-music</p>
              </div>
            </div>
          </article>
          <a href="detail-product">
          <article className="product-content">
            <div className="product-img">
              <img className="product" src="resources/daddario.jpg" alt="product" />
            </div>
            <div className="product-details">
              <div className="product-name">
                <h3>Cuerdas D'Addario</h3>
              </div>
              <div className="price-details">
                  <p>$ 2.500</p>
                  <p>Vendedor: Olmos-music</p>
              </div>
            </div>
          </article>
          </a>
        </section>
      </div>
    <footer className="footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </div>
</body>
</html>