<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Product</title>
</head>
<body>
  <div class="main-container">
    <header class="header">
      <%- include('./partials/header.ejs') %>
    </header> 
      <article class="product-detail-container">
        <div class="product-detail-img">
          <img src="resources/daddario.jpg" alt="product-detail" />
        </div>
        <div class="product-detail-content">
          <div class="product-detail-info">
            <h2 class="product-detail-name">Cuerdas D'Addario</h3>
            <h3 class="product-detail-price">$ 6500</h4>
            <p class="product-detail-description">Descripción: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, quae tenetur dolor excepturi vitae animi, dolore unde nemo commodi nisi quibusdam fuga atque facilis repellendus saepe molestias amet illo quasi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, non praesentium cum deleniti dolores aut nostrum sequi ea enim quae adipisci natus placeat blanditiis modi ratione laborum numquam suscipit perspiciatis? </p>
          </div>
          <div class="product-detail-buttons">
            <button type="button" class="buy-now">Comprar Ahora</button>
            <button type="button" class="go-to-cart">Agregar al Carrito</button>
          </div>
        </div>
      </article>
  </div>
    <footer class="footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </div>
</body>
</html>