<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Product</title>
</head>
<body>
  <div className="main-container">
    <header className="header">
      <%- include('./partials/header.ejs') %>
    </header> 
      <article className="product-detail-container">
        <div className="product-detail-img">
          <img src="resources/daddario.jpg" alt="product-detail" />
        </div>
        <div className="product-detail-content">
          <div className="product-detail-info">
            <h2 className="product-detail-name">Cuerdas D'Addario</h3>
            <h3 className="product-detail-price">$ 6500</h4>
            <p className="product-detail-description">Descripción: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, quae tenetur dolor excepturi vitae animi, dolore unde nemo commodi nisi quibusdam fuga atque facilis repellendus saepe molestias amet illo quasi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, non praesentium cum deleniti dolores aut nostrum sequi ea enim quae adipisci natus placeat blanditiis modi ratione laborum numquam suscipit perspiciatis? </p>
          </div>
          <div className="product-detail-buttons">
            <button type="button" className="buy-now">Comprar Ahora</button>
            <button type="button" className="go-to-cart">Agregar al Carrito</button>
          </div>
        </div>
      </article>
  </div>
    <footer className="footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </div>
</body>
</html>