<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="ebody">
    <div class="ewrap">
        <div class="texto_Error">
            <h1 class="title"><%= errorNumber %> ERROR</h2>
            <h2 class="subtitle"><%= subtitle %></h6>
        </div>
    </div>
</body>
</html>