<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body className="ebody">
    <div className="ewrap">
        <div className="texto_Error">
            <h1 className="title"><%= errorNumber %> ERROR</h2>
            <h2 className="subtitle"><%= subtitle %></h6>
        </div>
    </div>
</body>
</html>