<section style="display: flex; flex-direction: column; justify-content: center; padding:300px">
  <form action="signup" method="post" style="display: flex; flex-direction: column; justify-content: center;">
    <label for="name">Nombre</label>
    <input type="text" name="name" placeholder="Ingrese su nombre" id="name" required>
    <label for="email">e-mail</label>
    <input type="email" name="email" placeholder="Ingrese su e-mail" id="email" required>
    <label for="lastname">lastname</label>
    <input type="text" name="lastname" placeholder="Ingrese su apellido" id="lastname" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="Ingrese su contraseña" id="password" required>
    <label for="domicilio">Domicilio</label>
    <input type="text" name="domicilio" placeholder="Ingrese su domicilio" id="domicilio" required>
    <label for="numcel">Numero de Celular</label>
    <input type="number" name="numcel" placeholder="Ingrese su numero de telefono" id="numcel" required>
    <button type="submit">Agregar usuario</button>
    <a href="loginView">Already have an account</a> 
  </form>
</section>